.cakes {
    padding: 1rem;
}

.cakes .banner {
    height: 60vh;
    width: 100%;
    background: url('../img/banner-01.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cakes .banner h1 {
    font-size: 4rem;
    background-color: #4c1e1e4e;
    color: #ddd;
    padding: 2rem;
    border-radius: 10px 2rem;
}
.cakes-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cake-item{
    width: 23%;
    margin: 1rem auto;
    min-width: 270px;
}