.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 70vh;
position: relative;
  }
.embla__slide_1{
    background: url('../img/bg-01.webp');
    background-size: cover;
    background-position: center;
}  
.embla__slide_2{
    background: url('../img/bg-02.webp');
    background-size: cover;
    background-position: center;
}  
.embla__slide_3{
    background: url('../img/bg-03.webp');
    background-size: cover;
    /* background-position: center; */
}  
.embla__slide_4{
    background: url('../img/bg-04.webp');
    background-size: cover;
    background-position: center;
}  
.slide-content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;

padding: 2rem;
border-radius: 15px 3rem;
}
.slide-content h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.dark-slide{
    background-color: #4c1e1e4e;
    color: #fff;
}
.light-slide{
    background-color: #f1f1ff43;
    color: #4c1e1e;
}

/* responsiveness for slide content  */
@media (min-width:280px) and (max-width:768px) {
    .slide-content{
        width: 70%;
        
    }
    .slide-content h1{
        font-size:2rem;
    }
}