.profile{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f1f1ff;
    min-height: 80vh;
}
.profile-nav{
    width: 12%;
    padding: 1rem;
}
.profile-nav li{
    list-style: none;
    margin-bottom: .5rem;
    
}
.profile-nav .logout-btn{
    padding: .3rem .3rem .3rem 1rem;
    border-radius: 3px;
    background-color: #fff;
    color: #777;
    cursor: pointer;
    transition: all .5s ease;
}

.profile-nav a{
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #4c1e1e;
    color: #777;
    border-radius: 3px;
    padding: .3rem .3rem .3rem 1rem;
}
.profile-nav a.active{
    background-color: #692f2f;
    color: white;
}
.profile-content{
    padding: 1rem;
    width: 87%;
    background-color: #fff;
    border-radius: 5px;
}
.profile-content .greeting{
    color: #692f2f;
}

/* responsiveness */
/* for mobile and small screen  */
@media (min-width:280px) and (max-width:480px) {
    .profile{
        display: block;
    }
    .profile-nav{
        width: 100%;
    }
    .profile-content{
        width: 100%;
    }
}

/* for tablet and laptop  */
@media (min-width:481px) and (max-width:1024px) {
    .profile{
        display: flex;
        justify-content: space-between;
    }
    .profile-nav{
        width: 80px;
    }
    .profile-nav span{
        display: none;
    }
    .profile-content{
        width: calc(100%-120px);
        /* width: 78%; */

    }
}
