.view-profile{
    padding: 2rem;
    background-color: #692f2f69;
    color: #692f2f;
    margin-top: 1rem;
    border-radius: 5px;
}
.view-profile p{
    margin-top: .5rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 5px;

}